<app-header [title]="'RELATÓRIOS'"></app-header>

<main class="px-2 px-md-5 py-5">

    <section class="d-flex flex-wrap">

        <div class="box pl-4 pr-4 pr-md-5 mb-5 mr-md-5 d-flex align-items-center">
            <div class="mr-4">
                <img src="assets/images/medical-report.svg">
            </div>
            <div>
                <h4>Consultas realizadas por médicos</h4>
                <p>Visualizar agora</p>
            </div>
        </div>

        <div class="box pl-4 pr-4 pr-md-5 mb-5 mr-md-5 d-flex align-items-center">
            <div class="mr-4">
                <img src="assets/images/medical-report.svg">
            </div>
            <div>
                <h4>Consultas realizadas por paciente</h4>
                <p>Visualizar agora</p>
            </div>
        </div>

        <div class="box pl-4 pr-4 pr-md-5 mb-5 mr-md-5 d-flex align-items-center">
            <div class="mr-4">
                <img src="assets/images/doctor-report.svg">
            </div>
            <div>
                <h4>Médicos por especialidade</h4>
                <p>Visualizar agora</p>
            </div>
        </div>

        <div class="box pl-4 pr-4 pr-md-5 mb-5 mr-md-5 d-flex align-items-center">
            <div class="mr-4">
                <img src="assets/images/patient-report.svg">
            </div>
            <div>
                <h4>Pacientes cadastrados</h4>
                <p>Visualizar agora</p>
            </div>
        </div>

    </section>

</main>

<app-footer></app-footer>