main {
    width: 100%;
    background: #00000029;
    min-height: calc(100vh - 90px - 57px);
}

section {
    max-width: 1047px;
}

.box {
    width: 100%;
    height: 125px;
    background: #FFF;
    position: relative;
    cursor: pointer;
    transition: .3s;
}

.box::after {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    right: 15px;
    display: block;
    background-image: url('../../../../assets/images/arrow-right.svg');
    background-size: 100% 100%;
    transition: .3s;
}

h4 {
    font-size: 20px;
    font-weight: 600;
    color: #003D68;
    transition: .3s;
}

p {
    font-size: 14px;
    color: #707070;
    transition: .3s;
}

@media (min-width: 768px) {
    main {
        max-width: calc(100vw - 80px);
    }
    
    section {
        width: 75%;
    }

    .box {
        min-width: 365px;
        width: calc(50% - 3rem);
    }

    .box:hover {
        background: #F6F6F6;
    }

    .box:hover h4 {
        font-size: 25px;
    }

    h4 {
        font-size: 1.5rem;
    }

    .box:hover p {
        font-size: 16px;
    }

    .box:hover::after {
        width: 27px;
        height: 27px;
    }
}