<app-header [title]="'PAINEL'"></app-header>

<main class="px-md-5 pb-5">

    <!-- SESSÃO COM OS 3 BOXS -->
    <section class="d-flex flex-column align flex-lg-row py-5 w-100">

        <!-- BOX 01 - MÉDICOS -->
        <div class="box flex-fill d-flex align-items-center">
            <div class="px-4">
                <img src="assets/images/doctor-box.svg">
            </div>
            <div class="text-white">
                <h1 class="mb-0">{{ countOf.doctors }}</h1>
                <h2 class="font-weight-light">Médicos</h2>
            </div>
        </div>

        <!-- BOX 02 - PACIENTES -->
        <div class="box flex-fill my-3 my-lg-0 mx-lg-5 d-flex align-items-center">
            <div class="px-4">
                <img src="assets/images/patient-box.svg">
            </div>
            <div class="text-white">
                <h1 class="mb-0">{{ countOf.patients }}</h1>
                <h2 class="font-weight-light">Pacientes</h2>
            </div>
        </div>

        <!-- BOX 03 - PARCEIROS -->
        <div class="box flex-fill d-flex align-items-center">
            <div class="px-4">
                <img src="assets/images/switchcase-box.svg">
            </div>
            <div class="text-white">
                <h1 class="mb-0">80</h1>
                <h2 class="font-weight-light">Parceiros</h2>
            </div>
        </div>
    </section>

    <section class="bg-white py-3 px-3 w-100">

        <div>
            <h4 class="font-weight-bold">Últimos médicos cadastrados</h4>
        </div>

        <table class="table table-responsive">
            <tr>
                <th class="pl-4">Nome</th>
                <th>CRM</th>
                <th>Especialidade</th>
                <th>E-mail</th>
                <th>Celular</th>
                <th>Acesso</th>
                <th></th>
            </tr>
            <tr *ngFor="let doctor of doctors.data">
                <td class="text-nowrap pl-4">{{doctor.user.name}}</td>
                <td class="text-nowrap">{{doctor.crm}}</td>
                <td class="text-nowrap">{{doctor.specialties[0]?.description}}</td>
                <td class="text-nowrap">{{doctor.user.email}}</td>
                <td class="text-nowrap">{{doctor.user.contact}}</td>
                <td class="text-nowrap access-active" *ngIf="doctor.status">
                    Ativo
                </td>
                <td class="text-nowrap access-inactive" *ngIf="!doctor.status">
                    Inativo
                </td>
                <td class="text-nowrap">></td>
            </tr>
            <tr *ngIf="doctors.total === 0">
                <td class="text-left" colspan="7">Nenhum médico encontrado.</td>
            </tr>
        </table>

        <div>
            <button class="btn text-white font-weight-bold" routerLink="../medicos/cadastrar">
                Cadastrar médico
            </button>
        </div>

    </section>

</main>

<app-footer></app-footer>


<!--LOADING SPINNER-->
<ngx-spinner
  bdColor="#777"
  size="medium"
  color="#fff"
  type="ball-atom"
>
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>

