main {
    width: 100%;
    background: #00000029;
    min-height: calc(100vh - 90px - 57px);
}

section {
    max-width: 1047px;
}

.box {
    min-width: 188px;
    height: 136px;
    background: blue;
}

.box:nth-child(1) {
    background: #003D68;
}

.box:nth-child(2) {
    background: #00A651;
}

.box:nth-child(3) {
    background: #6F7075;
}

h4 {
    color: #003D68;
    font-size: 22px;
}

tr:nth-child(1) {
    background: #F8F8F8
}

tr:nth-child(1n + 2):hover {
    cursor: pointer;
    background: #F8F8F8;
}

td,
th {
    font-size: 14px;
    color: #2E2E2E;
    border: none;
}

button {
    background: #00A651;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: none !important;
    position: relative;
    transition: .25s;
}

button:hover {
    font-size: 14.5px;
}

button:active::after{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #FFFFFF30;
    position: absolute;
    left: 0;
    top: 0;
}

.access-active {
    color: #00A651;
}

.access-inactive {
    color: red;
}

@media (min-width: 768px) {
    main {
        max-width: calc(100vw - 80px);
    }
    
    section {
        width: 75%;
    }
}

@media (min-width: 998px) {
    .box {
        max-width: 308px; 
    }
}

@media (min-width: 1280px) {
    .table-responsive {
        display: table;
    }
}