<app-header [title]="'MÉDICOS'"></app-header>

<main class="px-md-5 py-5">

    <section class="bg-white py-3 px-3">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="font-weight-bold mb-0">Listagem de médicos</h4>
            <input class="pl-4" type="search" placeholder="Buscar por nome, e-mail ou CRM" (keyup)="findDoctors($event.target.value)">
        </div>

        <table class="table table-responsive">
            <tr>
                <th class="pl-4">Nome</th>
                <th>CRM</th>
                <th>Especialidade</th>
                <th>E-mail</th>
                <th>Celular</th>
                <th>Acesso</th>
                <th></th>
            </tr>
            <tr *ngFor="let doctor of doctors.data | paginate: 
            {itemsPerPage: 8, currentPage: p, totalItems: doctors.total}"
            >
                <td class="text-nowrap pl-4">{{doctor.user.name}}</td>
                <td class="text-nowrap">{{doctor.crm}}</td>
                <td class="text-nowrap">{{doctor.specialties[0]?.description}}</td>
                <td class="text-nowrap">{{doctor.user.email}}</td>
                <td class="text-nowrap">{{doctor.user.contact}}</td>
                <td class="text-nowrap access-active" *ngIf="doctor.status">
                    Ativo
                </td>
                <td class="text-nowrap access-inactive" *ngIf="!doctor.status">
                    Inativo
                </td>
                <td class="text-nowrap">></td>
            </tr>
            <tr *ngIf="doctors.total === 0">
                <td class="text-left" colspan="7">Nenhum médico encontrado.</td>
            </tr>
        </table>

        <div class="d-flex justify-content-between align-items-center">
            <button class="btn text-white font-weight-bold" routerLink="cadastrar">
                Cadastrar médico
            </button>

            <pagination-controls 
                class="my-pagination"
                (pageChange)="pageChanged($event)"
                previousLabel="Anterior"
                nextLabel="Próxima">
            </pagination-controls>
        </div>

    </section>
    
</main>

<app-footer></app-footer>

<!--LOADING SPINNER-->
<ngx-spinner
  bdColor="#777"
  size="medium"
  color="#fff"
  type="ball-atom"
>
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>