main {
    width: 100%;
    background: #00000029;
    min-height: calc(100vh - 90px - 57px);
}

section {
    max-width: 1047px;
}

h4 {
    color: #003D68;
    font-size: 22px;
}

input {
    font-size: 12px;
    color: #707070;
    border: 1px solid #aaa;
    border-radius: 4px;
    min-width: 230px;
    width: 14.5vw;
    height: 28px;
    background-image: url("../../../../assets/images/find.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 3% 55%;
    outline: none;
}

tr:nth-child(1) {
    background: #F8F8F8
}

tr:nth-child(1n + 2):hover {
    cursor: pointer;
    background: #F8F8F8;
}

td,
th {
    font-size: 14px;
    color: #2E2E2E;
    border: none;
}

td {
    border-bottom: 1px solid #ddd;
}

button {
    background: #00A651;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: none !important;
    position: relative;
    transition: .25s;
}

button:hover {
    font-size: 14.5px;
}

button:active::after{
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #FFFFFF30;
    position: absolute;
    left: 0;
    top: 0;
}

.access-active {
    color: #00A651;
}

.access-inactive {
    color: red;
}

.my-pagination /deep/ .ngx-pagination {
    margin-bottom: 0;
}

.my-pagination /deep/ .ngx-pagination li {
    border: 1px solid #DCDCDC;
    margin: 0;
    max-height: 28.97px;
}
.my-pagination /deep/ .ngx-pagination li,
.my-pagination /deep/ .ngx-pagination span,
.my-pagination /deep/ .ngx-pagination a {
    color: #666;
    font-size: 12px;
    outline: none !important;
    box-shadow: none !important;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: transparent;
    font-size: 12px;
}

.my-pagination /deep/ .ngx-pagination .current span {
    color: #003D68 !important;
}

@media (min-width: 768px) {
    main {
        max-width: calc(100vw - 80px);
    }
    
    section {
        width: 75%;
    }
}

@media (min-width: 1280px) {
    .table-responsive {
        display: table;
    }
}