<app-header [title]="'PACIENTES'"></app-header>

<main class="px-md-5 py-5">

    <section class="bg-white py-3 px-3">

        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="font-weight-bold mb-0">Listagem de pacientes</h4>
            <input class="pl-4" type="search" placeholder="Buscar por nome, e-mail ou CPF" (keyup)="findPatients($event.target.value)">
        </div>

        <table class="table table-responsive">
            <tr>
                <th class="pl-4">Nome</th>
                <th>CPF</th>
                <th>E-mail</th>
                <th>Celular</th>
                <th></th>
            </tr>
            <tr *ngFor="let patient of patients.data | paginate: 
            {itemsPerPage: 8, currentPage: p, totalItems: patients.total}"
            >
                <td class="text-nowrap pl-4">{{patient.user.name}}</td>
                <td class="text-nowrap">{{patient.user.cpf}}</td>
                <td class="text-nowrap">{{patient.user.email}}</td>
                <td class="text-nowrap">{{patient.user.contact}}</td>
                <td class="text-nowrap">></td>
            </tr>
            <tr *ngIf="patients.total === 0">
                <td class="text-left" colspan="7">Nenhum paciente encontrado.</td>
            </tr>
        </table>

        <div class="d-flex justify-content-end align-items-center">
            <pagination-controls 
                class="my-pagination"
                (pageChange)="pageChanged($event)"
                previousLabel="Anterior"
                nextLabel="Próxima">
            </pagination-controls>
        </div>

    </section>
    
</main>

<app-footer></app-footer>

<!--LOADING SPINNER-->
<ngx-spinner
  bdColor="#777"
  size="medium"
  color="#fff"
  type="ball-atom"
>
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>