#menu-toggle {
    top: 34px;
    right: 1rem;
    z-index: 2;
}

.menu-bar {
    width: 40px;
    height: 4px;
    border-radius: 5px;
    background: #fff;
}

ul {
    width: 100vw;
    height: 100vh;
    background: #011F3D;
    z-index: 1;
    transition: .3s;
}

.navbar-brand img {
    min-width: 70px;
    width: 3.7vw;
    min-height: 74px;
    height: 3.85vw;
}

li {
    outline: none;
}

li:last-of-type img {
    border: 2px solid #00A651;
    border-radius: 50%;

}

li:hover {
    cursor: pointer;
    background: #F1F1F1;
}

section {
    width: 100%;
    height: 100vh;
}

.quit {
    color: #ef3824;
    background: #F2F2F2;
    width: 15%;
    border-radius: 50%;
    text-align: center;
}

@media (min-width: 768px) {
    nav {
        min-width: 80px;
        width: 5.72vw;
    }

    ul {
        min-width: 80px;
        width: 5.72vw;
        background: #FFF;
    }

    .dropdown-menu {
        left: -5px !important;
        min-width: 80px;
        width: 5.72vw;
        cursor: pointer;
        color: #ef3824;
        transition: .3s;
        /* color: #FFF; */
    }

    .dropdown-menu a {
        padding: 0;
        text-align: center;
        transition: .3s;
    }

    .dropdown-menu:hover {
        background: #EEE;
    }

    .dropdown-menu:hover a {
        background: #FFF;
    }

}