<nav>

    <!-- BOTÃO PARA ABRIR/FECHAR MENU MOBILE -->
    <div id="menu-toggle" class="position-absolute d-md-none" (click)="menuToggle()">
        <div class="menu-bar"></div>
        <div class="menu-bar my-1"></div>
        <div class="menu-bar"></div>
    </div>

    <ul class="navbar-nav align-items-center position-fixed">

        <div class="navbar-brand mx-0 mb-4 mb-md-0">
            <img src="assets/images/logo.svg">
        </div>

        <li class="py-4 py-md-3 w-100 d-flex justify-content-center" 
            routerLink="/admin/dashboard/painel" 
            routerLinkActive="active" 
            #panel="routerLinkActive"
            (click)="menuToggle()"
        >
            <img *ngIf="panel.isActive" src="assets/images/home-active.svg">
            <img *ngIf="!panel.isActive" src="assets/images/home.svg">
        </li>

        <li class="py-4 py-md-3 w-100 d-flex justify-content-center" 
            routerLink="/admin/dashboard/medicos"
            routerLinkActive="active"
            #doctors="routerLinkActive"
            (click)="menuToggle()"
        >
            <img *ngIf="doctors.isActive" src="assets/images/doctor-active.svg">
            <img *ngIf="!doctors.isActive" src="assets/images/doctor.svg">
        </li>

        <li class="py-4 py-md-3 w-100 d-flex justify-content-center"
            routerLink="/admin/dashboard/pacientes"
            routerLinkActive="active"
            #patients="routerLinkActive"
            (click)="menuToggle()"
        >
            <img *ngIf="patients.isActive" src="assets/images/patient-active.svg">
            <img *ngIf="!patients.isActive" src="assets/images/patient.svg">
        </li>

        <li class="py-4 py-md-3 w-100 d-flex justify-content-center"
            routerLink="/admin/dashboard/parceiros"
            routerLinkActive="active"
            #partners="routerLinkActive"
            (click)="menuToggle()"    
        >
            <img *ngIf="partners.isActive" src="assets/images/switchcase-active.svg">
            <img *ngIf="!partners.isActive" src="assets/images/switchcase.svg">
        </li>

        <li class="py-4 py-md-3 w-100 d-flex justify-content-center"
            routerLink="/admin/dashboard/relatorios"
            routerLinkActive="active"
            #reports="routerLinkActive"
            (click)="menuToggle()"    
        >
            <img *ngIf="reports.isActive"  src="assets/images/file-active.svg">
            <img *ngIf="!reports.isActive"  src="assets/images/file.svg">
        </li>

        <li class="my-4 py-2 d-md-none quit" (click)="logout()">
            Sair
        </li>

        <li class="py-md-3 w-100 d-none d-md-flex justify-content-center" 
            id="dropdownLogout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        >
            <img src="assets/images/user-profile.svg">
        </li>

        <div class="dropdown-menu" aria-labelledby="dropdownLogout">
            <a class="dropdown-item" (click)="logout()">Sair</a>
        </div>
    </ul>
</nav>

<section>
    <router-outlet></router-outlet>
</section>
