section {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #02027090 0%, #01AE5E90 100%), url('../../../assets/images/login-bkg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    background-color: white;
    box-shadow: 0px 3px 4px #0000001A;
    border-radius: 10px;
    padding: 40px 70px;
    max-width: 100vw;
}

.box img {
    width: 8.22vw;
    height: 8.65vw;
}

.box p {
    font-size: 22px;
    color: #003D68;
}

.form-group {
    min-width: 300px;
    width: 27.5vw;
}

.form-control {
    min-height: 40px;
    height: 3.125vw;
    box-shadow: none;
}

label {
    font-size: 12px;
    color: #636363;
}

.validation p {
    font-size: 12px;
    color: red;
}

a {
    font-size: 12px;
    color: #003D68;
}

.btn {
    background-color: #00A651;
    color: #FFF;
    border-radius: 30px;
    min-width: 179px;
    width: 14vw;
}
