<section class="d-flex justify-content-center align-items-center">

    <div class="box">

        <div class="d-flex flex-column align-items-center">
            <img src="assets/images/logo.svg" alt="Ligdoc Logotipo" class="mb-3">

            <p>Bem-vindo! Faça login na sua conta.</p>
        </div>
        
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="d-flex flex-column align-items-center">

            <div class="form-group d-flex flex-column align-items-center">
                <input required type="email" name="email" placeholder="E-mail" class="form-control" #email="ngModel" ngModel>
                <div class="validation mt-2" [hidden]="!f.submitted || email.valid">
                    <p class="mb-0">Email obrigatório!</p>
                </div>
            </div>

            <div class="form-group d-flex flex-column align-items-center">
                <input required type="password" name="password" placeholder="Senha" class="form-control" #password="ngModel" ngModel (keyup)="teste(f)">
                <div class="validation mt-2" [hidden]="!f.submitted || password.valid">
                    <p class="mb-0">Senha obrigatória!</p>
                </div>
                <div class="validation mt-2" [hidden]="!unauthorized">
                    <p class="mb-0">Usuário e/ou senha inválidos</p>
                </div>
            </div>

            <div class="form-group d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <input type="checkbox" name="remember" class="mr-1" ngModel>
                    <label for="remember" class="mb-0">Lembrar de mim</label>
                </div>

                <div>
                    <a href="">Esqueci minha senha</a>
                </div>
            </div>

            <div>
                <button type="submit" class="btn">Entrar</button>
            </div>

        </form>

    </div>

</section>

<!--LOADING SPINNER-->
<ngx-spinner
  bdColor="#777"
  size="medium"
  color="#fff"
  type="ball-atom"
>
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>