/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~sweetalert2/dist/sweetalert2.min.css';

body {
    font-family: 'Lato', sans-serif;
}

app-dashboard {
    display: flex;
}

