<app-header [title]="'PACIENTES'"></app-header>

<main class="px-md-5 py-5">

    <section class="bg-white py-3 px-3">

        <div class="mb-3">
            <h4 class="font-weight-bold mb-0">Listagem de pacientes</h4>
        </div>

        <table class="table table-responsive">
            <tr>
                <th class="pl-4">Nome</th>
                <th>Categoria</th>
                <th>Tipo</th>
                <th></th>
            </tr>
            <tr *ngFor="let partner of partners.data | paginate: 
            {itemsPerPage: 8, currentPage: p, totalItems: partners.total}"
            >
                <td class="text-nowrap pl-4">{{partner.name}}</td>
                <td class="text-nowrap">{{partner.category}}</td>
                <td class="text-nowrap">{{partner.type}}</td>
                <td class="text-nowrap">></td>
            </tr>
            <tr *ngIf="partners.total === 0">
                <td class="text-left" colspan="7">Nenhum parceiro encontrado.</td>
            </tr>
        </table>

        <div class="d-flex justify-content-end align-items-center">
            <pagination-controls 
                class="my-pagination"
                (pageChange)="pageChanged($event)"
                previousLabel="Anterior"
                nextLabel="Próxima">
            </pagination-controls>
        </div>

    </section>
    
</main>

<app-footer></app-footer>

<!--LOADING SPINNER-->
<ngx-spinner
  bdColor="#777"
  size="medium"
  color="#fff"
  type="ball-atom"
>
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>