main {
    width: 100%;
    background: #00000029;
    min-height: calc(100vh - 90px - 57px);
}

h4 {
    color: #003D68;
}

img {
    cursor: pointer;
}

#btn-toggle {
    width: 69px;
    height: 28px;
    border: 1px solid #DCDCDC;
    border-radius: 50px;
    position: relative;
    transition: .3s;
    cursor: pointer;
}

#btn-toggle-inner {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #FFF;
    position: absolute;
    left: 5px;
    transition: .3s;
}

.off {
    background: #DCDCDC;
}

.on {
    background: #219d00;
}

.form-control {
    min-width: 275px;
    width: 16.875vw;
}

.btn {
    min-width: 150px;
    width: 9.20vw;
    height: 35px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
}

#btn-docs {
    background: #00A651;
}

.add-more {
    font-size: 15px;
    color: #003D68;
    cursor: pointer;
}

.add-more:hover {
    text-decoration: underline;
}

.btn {
    min-width: 150px;
    width: 9.16vw;
    height: 35px;
    border-radius: 20px;
}

#btn-submit {
    background: #6F7075;
}

#btn-cancel {
    background: #EF3824;
}

.error-message {
    color: red;
    min-width: 275px;
    width: 16.875vw;
}

@media (min-width: 768px) {
    main {
        max-width: calc(100vw - 80px);
    }

    section:nth-child(1) {
        width: 30%;
    }

    /* section:nth-child(2) {
        width: 70%;
    } */
}