<app-header [title]="'CADASTRAR MÉDICO'"></app-header>

<main class="px-md-5 py-5">

    <form class="d-flex" [formGroup]="doctorsForm" (ngSubmit)="onSubmit()">

        <section class="mr-5">

            <!--1º BOX DO LADO ESQUERDO - ADICIONAR IMAGEM DO MÉDICO -->
            <div class="bg-white d-flex flex-column align-items-center py-3 mb-5">
                <h4>Foto</h4>
                <img src="assets/images/foto.svg" (click)="uploadImage()" class="py-2">
                <p>Clique para adicionar a foto do perfil</p>
                <input type="file" id="upload-image" hidden>
            </div>

            <!-- 2º BOX DO LADO ESQUERDO - ALTERAR ACESSO AO APLICATIVO -->
            <div class="bg-white d-flex justify-content-around align-items-center py-3 mb-5">
                <p class="mb-0">Acesso ao aplicativo:</p>
                <div id="btn-toggle" class="d-flex align-items-center off" (click)="toggleAccess()">
                    <div id="btn-toggle-inner"></div>
                </div>
            </div>

            <!-- 3º BOX DO LADO ESQUERDO - DEFINIR SENHA DO MÉDICO-->
            <div formGroupName="user" class="bg-white d-flex flex-column align-items-center py-3 mb-5">
                <h4>Senha</h4>

                <div class="form-group">
                    <label for="password" class="d-block">Senha:</label>
                    <input required type="password" name="password" class="form-control" (keyup)="confirmPassword()" formControlName="password">
                    
                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="user.controls.password.invalid && isSubmitted">
                        Senha é obrigatória
                    </p>
                </div>

                <div class="form-group">
                    <label for="confirm-password" class="d-block">Confirmar senha:</label>
                    <input required type="password" name="confirm-password" class="form-control" (keyup)="confirmPassword()" formControlName="confirmPassword">
                    
                    <!--MENSAGENS DE ERRO-->
                    <p class="error-message" *ngIf="differentPasswords && isSubmitted">
                        As senhas devem ser iguais.
                    </p>
                    <p class="error-message" *ngIf="user.controls.confirmPassword.invalid && isSubmitted">
                        Este campo é obrigatório para confirmar a senha.
                    </p>
                </div>
            </div>

            <!-- 4º BOX DO LADO ESQUERDO - ANEXAR DOCUMENTOS -->
            <div class="bg-white d-flex flex-column align-items-center py-3 ">
                <h4 class="mb-3">Documentos</h4>
                <button type="button" class="btn" id="btn-docs" (click)="uploadDocs()">Anexar Documento</button>
                <input type="file" id="upload-docs" hidden>
            </div>

        </section>

        <section>

            <h4 class="bg-white m-0 py-3 px-5">Dados</h4>

            <div formGroupName="user" class="d-flex bg-white px-5">
                <div class="form-group mr-4">
                    <label for="name">Nome:</label>
                    <input required type="text" name="name" class="form-control" formControlName="name">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="user.controls.name.invalid && isSubmitted">
                        Nome completo é obrigatório
                    </p>
                </div>

                <div class="form-group">
                    <label for="cpf">CPF:</label>
                    <input required type="text" name="cpf" mask="000.000.000-00" class="form-control" formControlName="cpf">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="user.controls.cpf.invalid && isSubmitted">
                        CPF é obrigatório
                    </p>
                </div>
            </div>

            <div class="d-flex bg-white px-5">
                <div class="form-group mr-4">
                    <label for="crm">CRM:</label>
                    <input required type="text" name="crm" class="form-control" formControlName="crm">
                    
                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="doctorsForm.controls.crm.invalid && isSubmitted">
                        CRM é obrigatório
                    </p>
                </div>

                <!-- <div class="form-group">
                    <label for="specialties">Especialidades:</label>
                    <input type="text" name="specialties" class="form-control" formControlName="specialties">
                </div> -->
            </div>

            <div class="d-flex bg-white px-5">
                <div class="form-group mr-4">
                    <label for="rqe">RQE:</label>
                    <input type="text" name="rqe" class="form-control" formControlName="rqe">
                </div>

                <div class="form-group">
                    <label for="cnpj">CNPJ:</label>
                    <input type="text" name="cnpj" mask="00.000.000/0000-00" class="form-control" formControlName="cnpj">
                </div>
            </div>

            <div formGroupName="user" class="d-flex bg-white px-5">
                <div class="form-group mr-4">
                    <label for="birth_day">Data de nascimento:</label>
                    <input required type="date" name="birth_day" class="form-control" formControlName="birth_day">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="user.controls.birth_day.invalid && isSubmitted">
                        Data de nascimento é obrigatória
                    </p>
                </div>
                

                <div class="form-group">
                    <label for="genre" class="d-block">Gênero:</label>
                    <select required name="genre" id="genre" class="form-control" formControlName="genre">
                        <option>Masculino</option>
                        <option>Feminino</option>
                    </select>

                     <!--MENSAGEM DE ERRO-->
                     <p class="error-message" *ngIf="user.controls.genre.invalid && isSubmitted">
                        Gênero é obrigatório
                    </p>
                </div>
            </div>

            <div formGroupName="user" class="d-flex bg-white px-5">
                <div class="form-group mr-4">
                    <label for="email">Email:</label>
                    <input required type="email" name="email" class="form-control" formControlName="email">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="user.controls.email.invalid && isSubmitted">
                        Email é obrigatório
                    </p>
                </div>
                
                <div class="form-group">
                    <label for="cellphone" class="d-block">Celular:</label>
                    <input required type="tel" name="cellphone" mask="(00) 00000-0000" class="form-control" formControlName="cellphone">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="user.controls.cellphone.invalid && isSubmitted">
                        Celular é obrigatório
                    </p>
                </div>
                
            </div>

            <div formGroupName="user" class="d-flex bg-white px-5">
                <div class="form-group mr-4">
                    <label for="contact">Telefone:</label>
                    <input type="tel" name="contact" mask="(00) 0000-0000" class="form-control" formControlName="contact">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="user.controls.contact.invalid && isSubmitted">
                        Telefone é obrigatório
                    </p>
                </div>
                
                <div class="form-group">
                    <label for="address_zipcode" class="d-block">Cep:</label>
                    <input required type="text" name="address_zipcode" mask="00000-000" (keyup)="getAddress()" class="form-control" formControlName="address_zipcode">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="user.controls.address_zipcode.invalid && isSubmitted">
                        CEP é obrigatório
                    </p>
                </div>
            </div>

            <div formGroupName="user" class="d-flex bg-white px-5">
                <div class="form-group mr-4">
                    <label for="address_street">Endereço:</label>
                    <input required type="text" name="address_street" class="form-control" formControlName="address_street">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="user.controls.address_street.invalid && isSubmitted">
                        Endereço é obrigatório
                    </p>
                </div>
                    

                <div class="form-group">
                    <label for="address_number" class="d-block">Número:</label>
                    <input type="text" name="address_number" class="form-control" formControlName="address_number">
                </div>
            </div>

            <div formGroupName="user" class="d-flex bg-white px-5">
                <div class="form-group mr-4">
                    <label for="address_complement">Complemento:</label>
                    <input type="text" name="address_complement" class="form-control" formControlName="address_complement">
                </div>

                <div class="form-group">
                    <label for="address_neighborhood" class="d-block">Bairro:</label>
                    <input required type="text" name="address_neighborhood" class="form-control" formControlName="address_neighborhood">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="user.controls.address_neighborhood.invalid && isSubmitted">
                        Bairro é obrigatório
                    </p>
                </div>
                
            </div>

            <div formGroupName="user" class="d-flex bg-white px-5 pb-2 mb-5">
                <div class="form-group mr-4">
                    <label for="address_city">Cidade:</label>
                    <input required type="text" name="address_city" class="form-control" formControlName="address_city">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="user.controls.address_city.invalid && isSubmitted">
                        Cidade é obrigatória
                    </p>
                </div>

                <div class="form-group">
                    <label for="address_uf" class="d-block">Estado:</label>
                    <input required type="text" name="address_uf" class="form-control" formControlName="address_uf">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="user.controls.address_uf.invalid && isSubmitted">
                        Estado é obrigatório
                    </p>
                </div>
                
            </div>

            <!--MANUTENÇÃO NO NOME DOS CAMPOS-->
            <h4 class="bg-white m-0 py-3 px-5">Formação acadêmica</h4>
            
            <div formGroupName="academicsEducation" class="d-flex bg-white px-5 pb-2">
                <div class="form-group mr-4">
                    <label for="institute_location">Instituição de ensino:</label>
                    <input required type="text" name="institute_location" class="form-control" formControlName="institute_location">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="academicsEducation.controls.institute_location.invalid && isSubmitted">
                        Instituição de ensino é obrigatório
                    </p>
                </div>

                <div class="form-group">
                    <label for="institute_conclusion" class="d-block">Conclusão:</label>
                    <input required type="text" name="institute_conclusion" class="form-control" formControlName="institute_conclusion">

                    <!--MENSAGEM DE ERRO-->
                    <p class="error-message" *ngIf="academicsEducation.controls.institute_conclusion.invalid && isSubmitted">
                        Conclusão é obrigatório
                    </p>
                </div>
            </div>

            <div formGroupName="academicsEducation" class="d-flex bg-white px-5 pb-2">
                <div class="form-group mr-4">
                    <label for="residence_location">Local de residência:</label>
                    <input type="text" name="residence_location" class="form-control" formControlName="residence_location">
                </div>

                <div class="form-group">
                    <label for="residence_conclusion" class="d-block">Ano de conclusão:</label>
                    <input type="text" name="residence_conclusion" class="form-control" formControlName="residence_conclusion">
                </div>
            </div>

            <div formGroupName="academicsEducation" class="bg-white px-5 pb-2">
                <label for="formation_include" class="d-block">Alguma formação adicional?</label>
                <textarea name="formation_include" id="formation_include" formControlName="formation_include"></textarea>
            </div>

            <h4 class="bg-white m-0 py-3 px-5">Experiência profissional</h4>

            <div class="d-flex bg-white px-5" *ngFor="let experience of experiences.controls; let i = index" formArrayName="experiences">
                <div class="form-group mr-4" [formArrayName]="i">
                    <label for="" class="d-block">Local</label>
                    <input type="text" name="experience" [formControlName]="0">
                </div>
                <div class="form-group mr-4" [formArrayName]="i">
                    <label for="" class="d-block">Início</label>
                    <input type="text" [formControlName]="1">
                </div>
                <div class="form-group mr-4" [formArrayName]="i">
                    <label for="" class="d-block">Fim</label>
                    <input type="text" [formControlName]="2">
                </div>
            </div>
            

            <div class="bg-white px-5 mb-5 pb-2">
                <p (click)="addExperiences()" class="add-more">+ Adicionar mais...</p>
            </div>

            <h4 class="bg-white m-0 py-3 px-5">Dados Bancários</h4>

            <div formGroupName="user">
                <div class="bg-white px-5 pb-2" *ngFor="let account of accounts.controls; let i = index" formArrayName="accounts">
                    <div class="form-group" [formArrayName]="i">
                        <label for="institution">Instituição financeira</label>
                        <select name="institution" id="institution" class="form-control" [formControlName]="0">
                            <option>Itaú</option>
                        </select>
                    </div>

                    <div class="d-flex bg-white pb-2">
                        <div class="form-group mr-4" [formArrayName]="i">
                            <label for="agency" class="d-block">Agência:</label>
                            <input type="text" name="agency" class="form-control" [formControlName]="1">
                        </div>
                        <div class="form-group mr-4" [formArrayName]="i">
                            <label for="account" class="d-block">Conta:</label>
                            <input type="text" name="account" class="form-control" [formControlName]="2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-white px-5 pb-2">
                <p class="add-more" (click)="addAccounts()">+ Adicionar outra conta...</p>
            </div>

            <div class="bg-white px-5 pb-3">
                <button type="submit" class="btn mr-4" id="btn-submit">Salvar</button>
                <button type="button" class="btn" id="btn-cancel">Cancelar</button>
            </div>

        </section>

    </form>


</main>

<app-footer></app-footer>